<mat-form-field style="padding: 16px;">
  <input matInput placeholder="Neue Kompetenz" [(ngModel)]="kompetenzName">
</mat-form-field>
<button mat-icon-button (click)="addKompetenz()"
        matTooltip="Kompetenz hinzufügen" [matTooltipShowDelay]="500" matTooltipPosition='left'>
  <mat-icon>add</mat-icon>
</button>
<div *ngIf="kompetenzen | async as kompetenzenAsync; else loading">
  <mat-list>
      <app-kompetenz *ngFor="let kompetenz of kompetenzenAsync['entities']" [kompetenz]="kompetenz" (edited)="ngOnInit()"></app-kompetenz>
  </mat-list>
</div>
<ng-template #loading >
  <mat-spinner style="margin:15px auto;"></mat-spinner>
</ng-template>

