<mat-form-field style="padding: 16px;">
  <input matInput placeholder="Neue Kompetenz" [(ngModel)]="kompetenzName">
</mat-form-field>
<button mat-icon-button (click)="addKompetenz()"
        matTooltip="Kompetenz hinzufügen" [matTooltipShowDelay]="500" matTooltipPosition='left'>
  <mat-icon>add</mat-icon>
</button>
<div *ngIf="kompetenzen | async as kompetenzenAsync; else loading">
  <mat-list>
    <mat-list-item *ngFor="let kompetenz of kompetenzenAsync['entities']">
      <h3 matLine> {{kompetenz.beschreibung}} </h3>
      <button mat-icon-button (click)="editKompetenz(kompetenz)"
              matTooltip="Kompetenz bearbeiten" [matTooltipShowDelay]="500" matTooltipPosition='left'>
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteKompetenz(kompetenz)" class="mat-warn"
              [matTooltip]="kompetenz.inUse ? 'Kompetenz kann nicht gelöscht werden, da sie in Verwendung ist' : 'Kompetenz löschen'"
              [matTooltipShowDelay]="500" matTooltipPosition='left' [disabled]="kompetenz.inUse">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
<ng-template #loading >
  <mat-spinner style="margin:15px auto;"></mat-spinner>
</ng-template>

