<button mat-raised-button (click)="match()" style="margin: 1em;">MATCH</button>
<div>
  <div class="container" *ngIf="projekte | async as projects; else loading">
    <mat-card *ngFor="let projekt of projects['entities']" class="mat-elevation-z3">
      <mat-card-title>{{projekt.name}}</mat-card-title>
      <mat-card-subtitle>{{projekt.maxSchueler}} Schüler</mat-card-subtitle>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let schueler of projekt['personas']">{{schueler.displayName}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
