<div style="display: flex; align-items: center; justify-content: space-between">
  <p style="width: 140px"> {{qualifikation.beschreibung}} </p>

  <mat-slider [(ngModel)]="qualifikation.ausmass" style="width: 250px"
          max="10"
          min="0"
          step="1"
          thumbLabel="true"
          tickInterval="5">
  </mat-slider>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Points" type="number" [(ngModel)]="qualifikation.ausmass" max="10" min="0">
  </mat-form-field>
</div>
