<div class="bg"></div>

<div class="login">

  <h1>IT-Parship</h1>

  <img src="../../../assets/logo.svg" width="200" style="margin-bottom: 25px;">

  <a href="http://IT-Parship.tk/login.php">
    <button class="microsoftButton">
      <div style="display:flex; align-items: center;">
        <img src="../../../assets/ms_icon.png" width="21" height="21">
        <p>Sign in with Microsoft</p>
      </div>
    </button>
  </a>

  <mat-form-field style="margin-top: 10px;">
    <input matInput placeholder="Einschreibschlüssel" required>
  </mat-form-field>

</div>
