<mat-card style='width: 80%; margin-left: 10%; margin-top: 20px'>

  <mat-card-header>
    <mat-card-title>{{user.displayName}}</mat-card-title>
    <mat-card-subtitle>Qualifikationen</mat-card-subtitle>
  </mat-card-header>

  <mat-list *ngIf="qualifikationen as qualis">
    <mat-list-item *ngFor="let q of qualis" >
      <app-qualifikation [qualifikation]="q" style="width: 100%;"></app-qualifikation>
    </mat-list-item>
  </mat-list>

  <button mat-raised-button color="primary" (click)="save()">Save changes</button>

</mat-card>
