<h3 matDialogTitle>
  Projekt {{data.action}}
</h3>

<mat-dialog-content style="display: flex; flex-direction: column">
  <div>
    <mat-form-field style="width: 70%;">
      <input matInput placeholder="Projektname" [(ngModel)]="name"
             #projektName="ngModel" required>

      <mat-error *ngIf="projektName.invalid && (projektName.dirty || projektName.touched)"
                 class="alert alert-danger">
        <div *ngIf="projektName.errors.required">
          Name wird benötigt.
        </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 25%; margin-left: 5%">
      <input matInput type="number" placeholder="max. Schüler" [(ngModel)]="maxSchueler"
             #projektDescription="ngModel" required>

      <mat-error *ngIf="projektDescription.invalid && (projektDescription.dirty || projektDescription.touched)"
                 class="alert alert-danger">
        <div *ngIf="projektDescription.errors.required">
          Schüleranzahl wird benötigt.
        </div>
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field>
    <textarea matInput placeholder="Pojektbeschreibung" [matTextareaAutosize]="true" [(ngModel)]="description"
              #projektMaxSchueler="ngModel" required>
    </textarea>

    <mat-error *ngIf="projektMaxSchueler.invalid && (projektMaxSchueler.dirty || projektMaxSchueler.touched)"
               class="alert alert-danger">
      <div *ngIf="projektMaxSchueler.errors.required">
        Beschreibung wird benötigt.
      </div>
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Abbrechen</button>
  <button mat-raised-button (click)="save()">Speichern</button>
</mat-dialog-actions>
