<div *ngIf="laden">
  <mat-spinner></mat-spinner>
</div>

<div class="projekt-liste" *ngIf="projekte | async as projects">
  <app-lehrer-projekt class="lehrer-projekt" *ngFor="let p of projects['entities']"
                      [projekt]="p"
                      (editProjektOutput)="editProjekt($event)" (deleteProjektOutput)="deleteProjekt($event)">
  </app-lehrer-projekt>
  <button mat-icon-button (click)="addProjekt()" class="btn-addprojekt"
          matTooltip="Projekt Hinzufügen" [matTooltipShowDelay]="1000" matTooltipPosition='right'>
    <mat-icon>add</mat-icon>
  </button>
</div>

