<div class="listitem" (dblclick)="changeAnforderung()">
  <div>
    <mat-form-field *ngIf="kompetenzPool | async as kompetenzen;">
      <mat-select name="kSelect" id="kompetenz" [disabled]="!anforderung.isEnabled"
                  placeholder="Kompetenz" [(ngModel)]="anforderung.kompetenz.beschreibung" required>
        <mat-option *ngFor="let k of kompetenzen['entities']" [value]="k.beschreibung">{{k.beschreibung}}</mat-option>
      </mat-select>


    </mat-form-field>

    <mat-form-field style="width: 35%; margin-left: 20px;">
      <input matInput id="prior" name="prior" required pattern="[1-9]+" placeholder="Priorität" type="number"
             [(ngModel)]="anforderung.ausmass" [disabled]="!anforderung.isEnabled" #prior="ngModel">
    </mat-form-field>
  </div>
  <div>
    <button mat-icon-button (click)="changeAnforderung()" *ngIf="!anforderung.isEnabled"
            matTooltip="Bearbeiten" [matTooltipShowDelay]="1000" matTooltipPosition="above">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button (click)="saveAnforderung()" *ngIf="anforderung.isEnabled"
            matTooltip="Speichern" [matTooltipShowDelay]="1000" matTooltipPosition="above">
      <mat-icon>check_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteAnforderung()"
            matTooltip="Löschen" [matTooltipShowDelay]="1000" matTooltipPosition="above">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

